<html>

<head>
	<title>FileXShared</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/uikit/css/uikit.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/uikit/js/uikit.min.js"></script>
	<script src="/uikit/js/uikit-icons.min.js"></script>
</head>

<body>

	<div uk-grid>
		<div class="uk-width-1-4">
			<div class="menu uk-card uk-card-default uk-card-body">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-parent">
					<a href="#" class="title" style="color: #da1d5d;"><span uk-icon="icon: folder"></span> FileXShared</a>
					<ul class="uk-nav-sub">
						<li><a href="https://github.com/TiagoDanin/FileXShared"><span uk-icon="icon: github"></span> GitHub</a></li>
						<li><a href="https://tiagodanin.github.io"><span uk-icon="icon: link"></span> By Tiago Danin</a></li>
					</ul>
				</li>
				<li><a href="/files"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Root</a></li>
				{{#lastDir}}
					{{name}}
				{{/lastDir}}
				<li class="uk-nav-divider"></li>
				<li><a href="/close"><span class="uk-margin-small-right" uk-icon="icon: close"></span> Close Server</a></li>
				<li><a href="/singout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Sign Out</a></li>
			</ul>
		</div>
		</div>
		<div class="uk-width-expand padding-body">
			{{{body}}}
		</div>
	</div>

</body>

</html>
