<div class="card uk-card uk-card-default uk-card-body uk-align-center uk-text-center">
	<form action="/login" method="post">
		<div class="uk-margin">
			<span class="uk-text-bold">Password</span>
			<div class="uk-inline">
				<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
				<input class="uk-input" name="password" type="password">
			</div>
			<button class="uk-button uk-button-default uk-button-text" type="submit" name="ok" value="true">Login</button>
		</div>
	</form>
</div>
